# ignore all files in configfiles/config/fish/ except config.fish
configfiles/config/fish/*
!configfiles/config/config.fish

# ipython local files

configfiles/ipython
!configfiles/ipython/profile_*/ipython_config.py
!configfiles/ipython/profile_*/startup

# github copilot cli
configfiles/config/gh/config.yml
configfiles/config/gh/hosts.yml
